@media (max-width: 2800px) {
    .center {
        padding-left: calc(50% - 1500px);
        padding-right: calc(50% - 1500px);
    }

}

@media (max-width: 2560px) {
    .center {
        padding-left: calc(50% - 1430px);
        padding-right: calc(50% - 1430px);
    }

}

@media (max-width: 1440px) {
    .center {
        padding-left: calc(50% - 1360px);
        padding-right: calc(50% - 1360px);
    }

}

@font-face {
    font-family: 'USSR';
    src:
        url('/font/USSRSTENCIL.ttf') format('ttf'),
        url('/font/USSRSTENCIL.woff') format('woff'),
        url('/font/USSRSTENCIL.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'USSR', sans-serif;
    max-width: 2800px;
}

li {
    list-style-type: none;
}

.center {
    padding-left: calc(50% - 750px);
    padding-right: calc(50% - 750px);
}

.header {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    &__logo {
        border: none;
        width: 128px;
        height: 128px;
        border: none;
    }

    &__title {

        color: black;
        text-align: center;
        font-size: 85px;
    }
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 96%;
    max-height: 500px;

    &__title {
        color: rgb(165 27 27);
        text-align: center;
        font-size: 60px;
    }

    &__title-sub {
        color: rgb(165 27 27);
        text-align: center;
        font-size: 50px;
    }

    &__title-sub-text {
        max-width: 1000px;
        color: rgb(165 27 27);
        text-align: center;
        font-size: 35px;
    }
}

.cover::before {
    content: "";
    width: 100%;
    min-height: 1513px;
    background-image: url(/img/слюбовью.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0.25;
}

.description {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 96%;
    max-height: 500px;
    gap: 20px;

    &__img {
        z-index: 5;
        border: none;
        border-radius: 15px;
        width: 500px;
        height: 500px;
    }
}

.down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 96%;
    max-height: 500px;

    &__title {
        color: rgb(165 27 27);
        text-align: center;
        font-size: 60px;
    }

    &__title-sub {
        color: rgb(165 27 27);
        text-align: center;
        font-size: 50px;
    }

    &__title-sub-text {
        max-width: 1000px;
        color: rgb(165 27 27);
        text-align: center;
        font-size: 35px;
    }
}

.footer {
    padding-top: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    max-height: 700px;
    height: 100%;
    width: 96%;

    &__adress {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        row-gap: 10px;
        max-height: 700px;
        height: 100%;
        padding-right: 10px;
        padding-left: 10px;

    }

    &__adress-text {
        text-align: center;
        line-height: 1.4;
        color: rgb(165 27 27);
        font-size: 35px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        row-gap: 50px;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 10;
    }
}

.mail {
    color: rgb(165, 27, 27);
    font-size: 35px;
    text-decoration: none;
}

.mail:hover {
    color: rgb(244, 95, 95);
    cursor: pointer;
    font-size: 35px;
    text-decoration: none;
}

.phone {
    color: rgb(165, 27, 27);
    font-size: 35px;
    text-decoration: none;
}

.phone:hover {
    color: rgb(244, 95, 95);
    cursor: pointer;
    font-size: 35px;
    text-decoration: none;
}

.telega {
    color: rgb(165, 27, 27);
    font-size: 35px;
    text-decoration: none;
}

.telega:hover {
    color: rgb(244, 95, 95);
    cursor: pointer;
    font-size: 35px;
    text-decoration: none;
}

.vk {
    color: rgb(165, 27, 27);
    font-size: 35px;
    text-decoration: none;
}

.vk:hover {
    color: rgb(244, 95, 95);
    cursor: pointer;
    font-size: 35px;
    text-decoration: none;
}